{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>
            As college students, we know budgeting can be difficult. We have limited income and are short on time due to homework, studying, and extracurriculars.
            We simply do not have the time or energy to budget properly, but it is extremely important to do so during these fiscally trying times.
        </p>
          <p><strong>
              That’s where Money Parce comes in.
          </strong></p>
        <p>
           Our Solution: MoneyParce – A web application that helps users easily take control of their finances and plan their budgets for the future in a clear and simple way.
        </p>
          <div>
              <h3>What can MoneyParce do for you?</h3>
              <ul>
                  <li>
                      Automatically track income by linking your bank
                  </li>
                  <li>
                      Create, edit, and categorize transactions manually or on the go
                  </li>
                  <li>
                      Build custom budgets that adapt to your income and expenses
                  </li>
                  <li>
                      View real-time spending and stay on target
                  </li>
                  <li>
                      Chat with our AI chatbot for personalized financial tips and advice
                  </li>
                  <li>
                      Visualize your financial trends with AI-driven charts for better understanding of your finance
                  </li>
              </ul>
               <p><strong>
                   With Money Parce, budgeting becomes one less thing to worry about. Smarter Spending Starts Here.
               </strong></p>
          </div>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.png'%}"
             class="max-width-100"
             alt="about" height="700" style="border-radius: 100px;"/>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

