{% extends 'base.html' %}
{% block content %}
    <div class="p-3">
        <div class="container">
            <div class="row mt-5">
                <div class="col mx-auto text-center mb-3">
                    <h1>Welcome to MoneyParce!</h1>
                    <h4>Smarter spending starts here</h4>
                </div>
            </div>
            <div class="row mt-5">
                {% if user.is_authenticated %}
                    <div class="col text-center">
                        <a class="btn btn-outline-success btn-lg w-auto" href="{% url 'transaction_list' %}" role="button">Learn About MoneyParce</a>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-outline-success btn-lg w-auto" href="{% url 'transaction_list' %}" role="button">View My Transactions</a>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-outline-success btn-lg w-auto" href="#" role="button">View My Budgets</a>
                    </div>
                {% else %}
                    <div class="col text-center">
                        <a class="btn btn-outline-success btn-lg w-auto" href="#" role="button">Learn about MoneyParce</a>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-outline-success btn-lg w-auto" href="#" role="button">Login</a>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-outline-success btn-lg w-auto" href="#" role="button">Sign Up</a>
                {% endif %}
            </div>
        </div>
  </div>
{% endblock content %}

