# Python bytecode
__pycache__/
*.py[cod]

# Django
*.log
media/
staticfiles/
db.sqlite3

# IDEs
.idea/
.vscode/

# Virtual environments
venv/
.venv/
ENV/
env/

# System files
.DS_Store
Thumbs.db

# API keys
config.py