{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="password-reset-done">
    <div class="password-reset-card">
        <h2>Password Reset Email Sent</h2>
        <p>An email with instructions on how to reset your password has been sent to you,
            if a registered account exists with the email you entered. Please check your inbox shortly.
            If you did not receive an email, please make sure you entered the email
            you registered with and check your spam folder. </p>

        <div class="text-center mt-3">
            <a href="{% url 'login' %}">Back to Login</a>
        </div>
    </div>
</div>
{% endblock %}