{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border border-black" style="height: 540px;">
                        <div class="card-header">
                            <div class="p-1">
                                AI Agent
                            </div>
                        </div>
                        <div class="card-body overflow-auto">
                            {% for message in message_list %}
                                <div class="mb-4 rounded-2" style="background-color: lightgray;">
                                    <div class="p-2">
                                        {{ message }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form }}
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}