{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border border-black">
                        <div class="card-header">
                            AI Agent
                        </div>
                        <p>
                            This is the AI agent chat box.
                        </p>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}